*{ 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: default;
	margin: 0;
	padding: 0;
	border: none;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	font-size: inherit;
	font-weight: normal;

	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body{
	height: 100%;
}

body{
	font-family: 'Maven Pro', sans;
	font-size: 16px;
	text-align: center;
	color: #111;
}

body { -webkit-animation: bugfix infinite 1s; }

@-webkit-keyframes bugfix { 
  from { padding: 0; } 
  to { padding: 0; } 
}

.container{
	position: relative;
	width: 21em;
	margin-left: auto;
	margin-right: auto;
}

#main.container{
	padding-top: 2em;
}

h1{
	margin-bottom: 1em;
}

p, ul{
	margin-bottom: 1em;
}

li{
	margin: 0;
	padding: 0;
	list-style-type: none;
	margin-bottom: 0.4em;
}

b{
	font-weight: bold;
}

em{
	font-weight: 500;
	font-style: normal;
	color: #000;
}

a{
	color: #44f;
	cursor: pointer;
}

a:hover{
	color: #00a;
}

#title{
	position: relative;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 2em;
}

#title svg{
	margin-bottom: 1em;
}

#alpha, #alpha a{
	color: #aaa;
}

#status{
	position: absolute;
	top: 11.5em;
	left: 0;
	right: 0;
}

#intro{
	text-align: center;
	max-width: 18em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em
}

.error{
	color: #a55;
	cursor: text;
}

label{
	display: block;
	margin-bottom: 0.5em;
}

input[type=text], button, input[type=button], input[type=submit], textarea, select{
	font-family: 'Maven Pro', sans;
	font-size: 1em;
	display: block;
	width: 100%;
	padding: 0.5em;
	outline: none;
	border-radius: 0.2em;
	margin-bottom: 1em;
}

input[type=text], textarea{
	cursor: text;
	border: 0.1em solid #aaa;

	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

select{
	border: 0.1em solid #aaa;
}

input[type=text]:hover, textarea:hover, select:hover{
	border: 0.1em solid #888;
}

input[type=text]:focus, textarea:focus, select:focus{
	border: 0.1em solid #555;
}

button, input[type=button], input[type=submit]{
	background-color: #888;
	color: #444;
	border-radius: 0.2em;
	font-weight: 500;
	border: 0.1em solid #777;
	border-top: 0.1em solid #aaa;
	border-bottom: 0.1em solid #555;
}

button.good, input[type=button].good, input[type=submit].good{
	cursor: pointer;
	background-color: #5a5;
	color: #050;
	border: 0.1em solid #494;
	border-top: 0.1em solid #8c8;
	border-bottom: 0.1em solid #383;
}

button.good:hover, input[type=button].good:hover, input[type=submit].good:hover{
	background-color: #5b5;
}

button.good:active, input[type=button].good:active, input[type=submit].good:active{
	border: 0.1em solid #030;
}

.color_1{
	color: #ff6c00;
}

.color_2{
	color: #005baf;
}

.color_3{
	color: #00b09d;
}

.color_4{
	color: #7a51ff;
}

.color_5{
	color: #4c9a00;
}

.color_6{
	color: #c43d99;
}

#vs{
	margin-top: 1em;
	color: #555;
}

#day_points, #night_points{
	font-weight: bold;
}

#vs img{
	position: relative;
	vertical-align: top;
	opacity: 0.65;
	height: 1.2em;
}

#signup{
	max-width: 10em;
	margin-left: auto;
	margin-right: auto;
}

#choose_side{
	background-color: #ddd;
	border-radius: 0.2em;
	margin-bottom: 1em;
}

#choose_side:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#choose_side .side{
	border: 0.1em solid transparent;
	border-radius: 0.2em;
	width: 5em;
	padding: 0.5em 0.3em;
	opacity: 0.5;
	-webkit-transition: opacity 0.1s ease-in;
	cursor: pointer;
}

#choose_side .side img{
	height: 1.5em;
	cursor: inherit;
}

#choose_side .side:hover{
	border: 0.1em solid #aaa;
	opacity: 0.7;
}

#choose_side .side.selected{
	border: 0.1em solid #555;
	opacity: 1;
	cursor: default;
}

#choose_side #day{
	float: left;
}

#choose_side #night{
	float: right;
}

#existing_hint{
	margin-top: 2em;
	color: #888;
}

#board{
	position: relative;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	border: 0.15em solid #666;
	border-radius: 0.2em;
	outline: 0.1em solid #666;
	outline-offset: -0.2em;
	z-index: 2;
	
}

#board table{
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
}

#board .cell{
	position: relative;
	width: 1.8em;
	min-width: 1.8em;
	height: 1.8em;
	min-height: 1.8em;
	overflow: hidden;
	text-align: center;
	border: 0.1em solid #a8a8a8;
	font-size: 1.1em;
	-webkit-transition: background-color 0.15s ease-in;
}

#board .cell.empty{
	cursor: pointer;
	background-color: transparent;
}

#board .cell.empty:hover{
	background-color: #ddd;
}

.touch #board .cell.empty:hover{
	background-color: transparent;
}

#board .cell div{
	width: 1.4em;
	height: 1.4em;
	margin-left: 0.2em;
	line-height: 1.4em;
	background-color: #fff;
	border-radius: 0.2em;
}

#board .cell.empty div{
	cursor: pointer;
}

#board .cell.given{
	color: #333;
}

#board .cell.solved{
	font-family: 'Julee', serif;
	line-height: 1.4em;
}

#board .cell.pending{
	background-color: #ff0;
}

#board .cell.good{
	background-color: #4f4;
}

#board .cell.bad{
	background-color: #f44;
}

#board .cell.ambigous, #board .cell:hover.ambigous{
	background-color: #f44;
}

#board .cell.ambigous div{
	color: #f44;
	font-weight: bold;
}

#board .cell.already_filled{
	background-color: #fc0;
}

#ambigous_message{
	position: absolute;
	color: #f44;
	bottom: -1.3em;
	width: 100%;
}

#guesser_background{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	opacity: 0.5;
	-webkit-transition: opacity 0.1s linear;
	z-index: 4;
}

#guesser_background:hover{
	opacity: 0.3;
}

.touch #guesser_background, .touch #guesser_background:hover{
	opacity: 0.5;
	-webkit-transition: none;
}

#guesser{
	position: absolute;
	border-radius: 0.2em;
	color: #888;
	box-shadow: 0 -0.05em 0.5em rgba(0,0,0,0.5), 0 0 0 0.1em rgba(0,0,0,0.15);
	border: 0.1em solid #eee;
	border-bottom: 0.1em solid #ddd;
	border-top: 0.1em solid #fff;
	font-family: 'Julee', serif;
	z-index: 5;
	
}

#guesser table{
	border-collapse: collapse;
	border-spacing: 0;
	border-style: hidden;
	table-layout: fixed;
	background-color: #eee;
	-webkit-transition: opacity 0.15s ease-in;
	opacity: 1;
}

#guesser_background:hover ~ #main #guesser table{
	-webkit-transition: opacity 0s ease-in;
	opacity: 0.3;
}

.touch #guesser table{
	opacity: 1;
	-webkit-transition: none;
}

#guesser table td{
	width: 1.7em;
	min-width: 1.7em;
	height: 1.7em;
	min-height: 1.7em;
	border: 0.1em solid #ddd;
	cursor: pointer;
}

.touch #guesser table td{
	width: 2em;
	min-width: 2em;
	height: 2em;
	min-height: 2em;
}

#guesser table td:hover{
	background-color: #e4e4e4;
	color: #444;
}

#tilt_background{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #f00;
	opacity: 0;
	-webkit-transition: opacity 0.1s linear;
	z-index: -1;
}

#tilt_background.active{
	display: block;
	opacity: 0.1;
	z-index: 4;
	cursor: not-allowed;
}

#invite{
	display: inline-block;
	position: relative;
	width: 18.3em;
	z-index: 3;
	
}

#invite_hint p{
	font-size: 0.75em;
	margin-bottom: 0.5em;
}

#invite_link{
	background-color: #ddd;
	margin-bottom: 0.2em;
}

#chat{
	left: 50%;
	width: 19.6em;
	margin-left: -9.8em;
	height: 8.3em;
	text-align: left;
	margin-bottom: 2em;
}

/* TODO make this dependent on actual vieport height
   also hide the logo in css then not with modernizr */

.touch #chat{
	top: 24.5em;
}

#chat .content{
	padding-left: 0.7em;
	padding-right: 0.7em;
	padding-top: 0.2em;
	padding-bottom: 0.1em;
}

#chat p{
	position: relative;
	padding-top: 0.2em;
	margin-left: 0.2em;
	padding-left: 0.3em;
	margin-right: 0.2em;
	padding-right: 0.3em;
	border-top: 0.1em solid #d0d0d0;
	margin-bottom: 0.3em;
	color: #555;
	overflow: hidden;
}

#chat p .time{
	float: right;
	padding: 0.1em 0;
	font-family: monospace;
	font-size: 0.8em;
	color: #bbb;
}

#chat p .player{
	font-weight: 500;
}

#chat p.last_chat_message .time{
	color: #888;
}

#chat_form{
	position: relative;
	z-index: 2;
}

#chat_form input[type=text]{
	border-color: #d0d0d0;
	margin: 0;
}

#chat_form input[type=text]:hover{
	border-color: #bbb;
}

#chat_form input[type=text]:focus{
	border-color: #aaa;
}

#round{
	width: 19em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	box-shadow: 0 0.4em 0 #fff, 0 2.6em 0 rgba(255, 255, 255, 0.6);
	z-index: 2;
}

#round .player{
	display:inline-block;
	margin: 0.25em 0.5em;
}

#round .player .badges{
	font-size: 0.6em;
	line-height: 1;
	vertical-align: middle;
}

#round .player.offline{
	text-decoration: line-through;
}

#header{
	overflow: visible;
	background-color: #eee;
	width: 100%;
	height: 2.2em;
	border-bottom: 0.1em solid #ccc;
	text-align: center;
	z-index: 3;
}

#header section{
	position: relative;
	display: inline-block;
	top: -0.1em;
	border: 0.1em solid transparent;
	width: 22.5em;
	height: 2.2em;
	overflow: hidden;
	padding: 0 2em;
	vertical-align: top;
	text-align: left;
	background-color: #eee;
}

#header section:hover{
	height: auto;
	overflow: visible;
	border: 0.1em solid #ccc;
	box-shadow: 0 0 2em #fff;
	z-index: 10;
}

#header section h1{
	font-weight: bold;
	text-align: center;
	padding: 0.6em 0 0.6em 0;
	border-bottom: 0.1em solid #ccc;
	margin: 0 0 1em 0;
	color: #999;
}

#header section:hover h1{
	color: #666;
}

#about:hover, #pay:hover{
	padding-bottom: 0.25em;
}

#pay form{
	margin-bottom: -0.5em;
}

#passwordless_login:hover{
	padding-bottom: 1em;
}

.login_unsaved{
	font-weight: bold;
	color: #f55;
}

#login_link{
	background-color: #f8f8f8;
	width: 18.5em;
}

#login_link_descr{
	margin-top: 3em;
	font-size: 0.75em;
	color: #888;
}

.copy_link{
	display: inline-block;
	width: 100%;
	position: relative;
	border-radius: 0.2em;
	margin-bottom: 0.5em;
}

.copy_link input[type=text]{
	background-color: transparent;
	border: 0.1em solid transparent;
	margin-bottom: 0;
	font-size: 0.75em;
	font-family: monospace;
	color: #888;
}

.copy_link input[type=text]:hover{
	color: #000;
	border: 0.1em solid #aaa;
}

.copy_link .qr{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0.1em;
	width: 1.65em;
	padding: 0.3em;
	z-index: 5;
	opacity: 0.4;
	background-repeat: no-repeat;
	background-position:center;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA82lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjardA/SgNBHMXx70TULloE67mAgmu15eQPi2ARYopsqkxmBw1hd4fZn3/2Bh7B43iDFIIXUVJbqARLwU/1eM2DB+rZDPujzjGUlcRsYvJZPteHGw7YAwDrmmDG4yuAqq48vynYvqEAXk/NsD/ib/ZdiAK8AEnhGwd8AKsHCQJqAfSW6yCgBOitp5MBqCegK/5RAAZ1aOPq5lb0eZqm2hT10uvrthFfNvqycnUMdbTiC+B7A+Aoi7bVmS1Lq5OzhH83y+f6K71PUYA62ey6HXcX73/+7FzAJ0sbODDOTdGSAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAACSSURBVHjajFJBDoAwDIJl//8yHkils8Y441y7plCQwp+1AbZKkaq3Z7c/Dqmcz+x+FvTSnNfkkX4Ht/PKrBwnu6t5rdA/swOAeoEVIMi7HyGx4GiFgwiI3t1RLDgKT0G7tF2awazY+VJ8MStzFvwtSG8d6O7yMMu0g+Cua6qWeSP2Cqc+ZwS5R/gyqxzmv7/3GgBmznwae3LXHQAAAABJRU5ErkJggg==);
	cursor: none;
}

.copy_link .qr:hover{
	opacity: 1;
}

.copy_link .qr img{
	display: none;
	position: absolute;
	bottom: -1.4em;
	left: -1.4em;
	padding: 0.3em;
	background-color: #fff;
	border-radius: 0.2em;
	border: 0.1em solid #aaa;
	cursor: none;
}

.copy_link .qr:hover img{
	display: block;
}